<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="url" value="https://fielmann.console.ves.volterra.io" />
        <add key="SubjectDistinguishedName" value="CN=FirstName.Lastname@fielmann.com" />
        <!-- allowed values LocalMachine / CurrentUser -->
        <add key="X509StoreLocation" value="CurrentUser" />
    </appSettings>
</configuration>